@{ Layout = null; }

@model Cua.ViewModels.ChangePasswordModel
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Смена пароль</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> *@
    <link rel="stylesheet" href="~/css/login.css" />
</head>
 
<body>
    <div class="login-dark">
        <form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true">
            <h2 class="sr-only">Change password form</h2>
            <div class="illustration"><ion-icon name="key"></ion-icon></div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="Password" placeholder="Пароль" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="ConfirmPassword" placeholder="Повторите пароль" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Сменить пароль" />
            </div>
        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>