@{
    ViewData["Title"] = "Change password";
}

@model Cua.ViewModels.ChangePasswordModel
 
<h2>Изменение пароля</h2>
 
<form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Сменить пароль" />
        </div>
    </div>
</form>