@{ Layout = null; }
@model Cua.ViewModels.RestorePasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
 
<body>
    <div class="login-dark">    
    <form asp-action="RestorePassword" asp-controller="Account" asp-anti-forgery="true" class="login">
        <h2 class="sr-only">Change password form</h2>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input class="form-control" type="text" asp-for="Email" placeholder="Электронная почта"/>
            @* <span asp-validation-for="Email" ></span> *@
        </div>
        <div class="form-group">
            <input type="submit" value="Восстановить пароль" class="btn btn-primary btn-block" />
        </div>
        <a class="forgot" asp-action="Login" asp-controller="Account">Назад</a>
    </form>
    </div>
</body>
</html>