@model Cua.ViewModels.RestorePasswordModel
 
<h2>Восстановление пароля</h2>
 
<a asp-action="Login" asp-controller="Account">Назад</a>
 
<form asp-action="RestorePassword" asp-controller="Account" asp-anti-forgery="true" class="login">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" ></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Восстановить пароль" class="btn btn-outline-dark" />
        </div>
    </div>
</form>