@{
    ViewData["Title"] = "Schedule an appoinment";
}

@model Cua.Models.Timetable

<div class="container separate-div">
    <p id="start-date" hidden>@Model.StartDate.ToString("dd-MM-yyyy")</p>
    <p id="end-date" hidden>@Model.EndDate.ToString("dd-MM-yyyy")</p>
    <input type="text" id="datepicker" placeholder="Pick a date" readonly/>
    <br/>
    <select id="available-time">
    </select>
    <br/>
    <button id="make-an-appointment" class="btn btn-primary" disabled>Confirm</button>
</div>

<script src="~/js/date.js" asp-append-version="true"></script>