.my-content-div-container {
    max-width: 90%;
}

.separate-div-no-col {
    padding: 8px;
}

.my-content-label-div {
    width: 96%;
}

.my-content-label-div p {
    text-align: center;
}

.my-participant-div {
    padding: 0 10px;
}

.my-show-queues-btn-holder {
    padding: 0 10px;
}

.my-qs-btn {
    width: 100%;
}

.join-room-btn:disabled {
    background-color: #214A71;
}

.my-back-btn {
    width: 100%;
}

.request-btn {
    margin-left: 8px;
}

.my-control-input-holder {
    height: 40px;
    margin: 8px;
    padding: 0;
}

div.content-div a {
    vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
    font-size: 30px;
}

div.content-div a.delete-user {
    color: red;
}

div.content-div a.queue-control {
    color: #007bff;
}